.top-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bttn {
    height: 30px;
    width: 180px;
    margin: 10px;
}

.grid-container {
    display: flex;
    height: 600px;
    width: 600px;
    flex-wrap: wrap;
    border: red solid 2px;
    justify-content: center;
    align-items: center;
}

.square-style {
    height: 37.5px;
    width: 37.5px;
    background: #FAF9F6;
}

.new-square-style {
    background: #FAF9F6;
}

.square-hover {
    background: black;
}