@font-face {
    font-family: 'Etchasketch';
    src: url(fonts/EASTRIAL.ttf);
}

body {
    background-color: #325082;
    margin: 0px;
    padding: 0px;
}

.main {
    display: flex;
    gap: 40px;
    margin-left: 120px;
    margin-top: 10px;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 0px;
}

.right-side {
    display: flex;
    flex-direction: column;
}

.top-red {
    display: flex;
    width: 720px;
    height: 60px;
    background-color: red;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;  
}

.etch-text {
    font-family: 'Etchasketch';
    font-size: 35px;
    color: #FFD700;
}

.middle-section {
    display: flex;
}

.left-red {
    background-color: red;
    width: 60px;
}

.right-red {
    background-color: red;
    width: 60px;
}

.bottom-red {
    background-color: red;
    height: 60px;
    width: 720px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dials {
    display: flex;
}

.left-dial {
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    position: relative;
    top: -60px;
    left: 6px;
}

.right-dial {
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    position: relative;
    top: -60px;
    left: 615px;
}

.bttn {
    height: 40px;
    width: 200px;
    margin: 10px;
    font-size: 18px;
    background-color: #EE005F;
    border: white 2px solid;
    border-radius: 30px;
    color: white;
    margin: 0;
}

.bttnhover:hover {
    transform: scale(1.1);
}

.grid-container {
    display: flex;
    height: 600px;
    width: 600px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.square-style {
    height: 37.5px;
    width: 37.5px;
    background: #FAF9F6;
}

.new-square-style {
    background: #FAF9F6;
}

.square-hover {
    background: black;
}

.grid-size {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    height: 100px;
}